:root {
    --background-color: #f0f0f0;
    --error-color: #ff0000;
    --info-color: #17a2b8;
    --success-color: #28a745;
    --warning-color: #ffc107;
    --primary-text-color: #333;
    --primary-color: #007bff;
    --secondary-color: #6c757d;
}